<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication page</title>
</head>
<body>
    <center>
        <h1>
            Publication page
        </h1>
    </center>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos, rem accusamus assumenda illum excepturi temporibus aliquam tempore sequi provident vel ratione corrupti quis repellat, ex cum culpa ipsam totam.
</body>
</html>